*{
    margin: 0px;
    padding: 0px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border: none;
    z-index: 9999;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.links {
    display: flex;
    gap: 30px;
    background-color: white;
}

.apple-image{
    color: black;
    position: absolute;
    left: 280px;
    top: 20px;
}

.store{
      position: absolute;
    left: 350px;
    top: 20px;
}

.mac{
      position: absolute;
    left: 410px;
    top: 20px;
}

.ipad{
      position: absolute;
    left: 460px;
    top: 20px;
}

.iphone{
      position: absolute;
    left: 520px;
    top: 20px;
}

.watch{
      position: absolute;
    left: 580px;
    top: 20px;
}

.vision{
      position: absolute;
    left: 640px;
    top: 20px;
}

.airpods{
      position: absolute;
    left: 700px;
    top: 20px;
}

.tv{
      position: absolute;
    left: 760px;
    top: 20px;
}

.entertainment{
      position: absolute;
    left: 850px;
    top: 20px;
}
.acessories{
      position: absolute;
    left: 950px;
    top: 20px;
}

.support{
      position: absolute;
    left: 1050px;
    top: 20px;
}

.search{
      position: absolute;
    left: 1130px;
    top: 20px;
}

.cart{
      position: absolute;
    left: 1190px;
    top: 20px;
}

.airpods-image{
    position: absolute;
    top: 35px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card{
    border: 1px solid rgb(74, 130, 252);
    background-color: rgb(74, 130, 252);
    color: white;
    position: absolute;
    top: 100px;
    left: 640px;
    padding: 10px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.card-image{
    position: absolute;
    top: 80px;
    left: 830px;
    z-index: 1;
}

.card-image1{
    position: absolute;
    top: 160px;
    left: 870px;
}

.font{
    font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.card-1{
    border: 1px solid rgb(74, 130, 252);
    background-color: rgb(74, 130, 252);
    color: white;
    position: absolute;
    top: 290px;
    left: 640px;
    padding: 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.fonts{
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.card-2{
    border: 1px solid rgb(74, 130, 252);
    background-color: rgb(74, 130, 252);
    color: white;
    position: absolute;
    top: 370px;
    left: 640px;
    padding: 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-image2{
    position: absolute;
    top: 350px;
    left: 620px;
}

.little-card{
    border: 1px solid rgb(74, 130, 252);
    border-radius: 40px;
    background-color: transparent;
    color: rgb(74, 130, 252);
    margin: 300px;
    position: absolute;
    top: 320px;
    left: 420px ;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.Mac{
   border: 1px solid lightblue; 
   position: absolute;
   top: 700px;
}

.mac-paras{
    position: absolute;
    top: 730px;
    left: 630px;
}

.font-1{
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.mac-paras1{
    position: absolute;
    top: 790px;
    left: 670px;
    font-size: 30px;
}

.font-2{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.mac-paras2{
    position: absolute;
    top: 825px;
    left: 570px;
    font-size: 30px;
}

.button-1{
     border: 1px solid rgb(74, 130, 252);
    border-radius: 40px;
    background-color: rgb(62, 119, 241);
    color: white;
    margin: 300px;
    position: absolute;
    top: 580px;
    left: 320px ;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.button-2{
    border: 1px solid rgb(74, 130, 252);
    border-radius: 40px;
    background-color: transparent;
    color: rgb(74, 130, 252);
    margin: 300px;
    position: absolute;
    top: 580px;
    left: 480px ;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.gradient{
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(90deg, #2d88f8, rgb(153, 18, 153) ,#a043e8, rgb(232, 72, 72)  ,#ff5e3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
    position: absolute;
    top: 1100px;
    left: 580px;
}

.iphone-1{
   border: 1px solid lightblue; 
   position: absolute;
   top: 1220px;
}

.phone-paras{
     position: absolute;
    top: 1240px;
    left: 640px;
}

.phone-paras1{
     position: absolute;
    top: 1310px;
    left: 570px;
    font-size: 30px;
}

.button-3{
 border: 1px solid rgb(74, 130, 252);
    border-radius: 40px;
    background-color: rgb(62, 119, 241);
    color: white;
    margin: 300px;
    position: absolute;
    top: 1060px;
    left: 310px ;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.button-4{
    border: 1px solid rgb(74, 130, 252);
    border-radius: 40px;
    background-color: transparent;
    color: rgb(74, 130, 252);
    margin: 300px;
    position: absolute;
    top: 1060px;
    left: 480px ;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.gradient-1{
     font-size: 20px;
    font-weight: bold;
    background: linear-gradient(90deg, #2d88f8, rgb(153, 18, 153) ,#a043e8, rgb(232, 72, 72)  ,#ff5e3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
    position: absolute;
    top: 1365px;
    left: 630px;
}

.borders{
    border: 1px solid black;
}

.ipad-pro{
     margin: 10px;
    position: absolute;
    top: 1680px;
} 

.man{
     margin: 10px;
    position: absolute;
    top: 1680px;
    right: 1px;
}

/* .borders-1{
    border: 1px solid black;
} */

.airpods-pro-2{
    margin: 10px;
    position: absolute;
    top: 2300px;
}

 .watch-series-10{
    margin: 10px;
    position: absolute;
    top: 2300px;
    right: 1px;
}

.iphone-pro-3{
     margin: 10px;
    position: absolute;
    top: 2925px;
}

.real-card{
    margin: 10px;
    position: absolute;
    top: 2925px;
    right: 1px;
}

.ipad-paras{
   position: absolute;
   top: 1730px;
   left: 280px;
   color: white;
}

.ipad-paras1{
    position: absolute;
    top: 1790px;
    left: 150px;
    font-size: 30px;
    color: white;
}

.button-5{
    border: 1px solid rgb(74, 130, 252);
    border-radius: 40px;
    background-color: rgb(62, 119, 241);
    color: white;
    margin: 300px;
    position: absolute;
    top: 1550px;
    left: -60px ;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.button-6{
    border: 1px solid rgb(74, 130, 252);
    border-radius: 40px;
    background-color: transparent;
    color: rgb(74, 130, 252);
    margin: 300px;
    position: absolute;
    top: 1550px;
    left: 100px ;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.gradient-2{
     font-size: 15px;
    font-weight: bold;
    background: linear-gradient(90deg, #2d88f8, rgb(153, 18, 153) ,#a043e8, rgb(232, 72, 72)  ,#ff5e3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
    position: absolute;
    top: 2190px;
    left: 290px;
}

.AI-paras{
    position: absolute;
   top: 2100px;
   right: 150px;
   color: white;
}

.AI-paras1{
    position: absolute;
    top: 2160px;
    left: 1020px;
    color: white;
    font-size: 27px;
}

.AI-paras2{
    position: absolute;
    top: 2190px;
    left: 1010px;
    color: white;
    font-size: 27px;
}

.button-7{
    border: 1px solid rgb(220, 222, 227);
    border-radius: 30px;
    background-color: white;
    color: grey;
    margin: 400px;
    position: absolute;
    top: 1838px;
    left: 590px ;
    padding-left: 35px;
    padding-right: 55px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 15px;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
}

.button-8{
    border: 1px solid white;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    margin: 400px;
    position: absolute;
    top: 1838px;
    left: 750px ;
    padding-left: 35px;
    padding-right: 55px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 15px;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
}

.big-image{
    position: absolute;
    top: 3560px;
}

.music{
   position: absolute;
   top: 4180px;
   left: 50px;
}

.music2{
   position: absolute;
   top: 4180px;
   left: 460px;
}

.music3{
    position: absolute;
    top: 4180px;
    left: 880px;
}

.music4{
    position: absolute;
    top: 4180px;
    left: 1300px;
}

.airpods-paras{
   position: absolute;
   top: 2750px;
   left: 220px;
   color: white;
}

.airpods-paras1{
    position: absolute;
    top: 2800px;
    left: 200px;
    color: white;
    font-size: 25px;
}

.button-9{
    border: 1px solid rgb(74, 130, 252);
    border-radius: 40px;
    background-color: rgb(62, 119, 241);
    color: white;
    margin: 300px;
    position: absolute;
    top: 2545px;
    left: -37px ;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
     white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
}

.button-10{
    border: 1px solid rgb(74, 130, 252);
    border-radius: 40px;
    background-color: transparent;
    color: rgb(74, 130, 252);
    margin: 300px;
    position: absolute;
    top: 2545px;
    left: 130px ;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
      white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
}

.watch-paras{
     position: absolute;
   top: 2350px;
   right: 190px;
   color: black;
}

.watch-paras1{
    position: absolute;
    top: 2410px;
    left: 1000px;
    color: black;
    font-size: 27px;
}

.watch-paras2{
    position: absolute;
    top: 2445px;
    left: 900px;
    color: black;
    font-size: 27px;
}

.button-11{
    border: 1px solid rgb(74, 130, 252);
    border-radius: 40px;
    background-color: rgb(62, 119, 241);
    color: white;
    margin: 300px;
    position: absolute;
    top: 2200px;
    left: 700px ;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
     white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
} 

.button-12{
    border: 1px solid rgb(74, 130, 252);
    border-radius: 40px;
    background-color: transparent;
    color: rgb(74, 130, 252);
    margin: 300px;
    position: absolute;
    top: 2200px;
    left: 860px ;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
}

.trade-in{
    position: absolute;
   top: 2970px;
   left: 260px;
   color: black;
}

.trade-paras1{
   position: absolute;
   top: 3020px;
   left: 170px;
   color: black;
   font-size: 26px;
}

.trade-paras2{
    position: absolute;
   top: 3050px;
   left: 180px;
   color: black;
   font-size: 26px;
}
.button-13{
    border: 1px solid rgb(74, 130, 252);
    border-radius: 40px;
    background-color: rgb(74, 130, 252);
    color: white;
    margin: 300px;
    position: absolute;
    top: 2800px;
    left: -38px ;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
}

.apple-card{
   position: absolute;
   top: 2970px;
   right: 290px;
   color: black;
}

.apple-card1{
     position: absolute;
   top: 3040px;
   right: 200px;
   color: black;
   font-size: 26px;
}

.apple-card2{
 position: absolute;
   top: 3070px;
   right: 240px;
   color: black;
   font-size: 26px;
}

.button-14{
     border: 1px solid rgb(74, 130, 252);
    border-radius: 40px;
    background-color: rgb(74, 130, 252);
    color: white;
    margin: 300px;
    position: absolute;
    top: 2820px;
    right: 80px ;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
}

.button-15{
    border: 1px solid rgb(74, 130, 252);
    border-radius: 40px;
    background-color: transparent;
    color: rgb(74, 130, 252) ;
    margin: 300px;
    position: absolute;
    top: 2820px;
    right: -66px ;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
}

.gradient-3{
     font-size: 18px;
    font-weight: bold;
    background: linear-gradient(90deg, #2d88f8, rgb(153, 18, 153) ,#a043e8, rgb(232, 72, 72)  ,#ff5e3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 50px;
    position: absolute;
    top: 2820px;
    right: 278px ;
}

.text{
    border: 1px solid rgb(255, 247, 247);
    text-align: center;
    background-color: rgb(255, 247, 247);
    color: rgb(109, 106, 106);
    position: absolute;
    top: 4500px;
    padding-left: 290px;
    padding-right: 290px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-basis: 100%;
    font-size: small;
}